RewriteEngine On

Options -Indexes

# ErrorDocument 403 https://exclama.com.br

# AddCharset UTF-8 .php

# RewriteCond %{HTTPS} off
# RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# <IfModule mod_headers.c>
#     Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
#     Header set X-Frame-Options DENY
#     Header set X-Content-Type-Options nosniff
#     #Header set Content-Security-Policy ""
#     #"script-src 'self' 'strict-dynamic' 'nonce-rAnd0m123' 'unsafe-inline' http: https:; object-src 'self'; base-uri 'none'; require-trusted-types-for 'script'; report-uri https://csp.example.com;"       
# </IfModule>

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*)$ index.php?request=$1 [QSA,L]

